    /* COLORES
        Amarillo: (Enlaces y botones)
                #e0c71b
                rgb(224, 199, 27)
                cmyk(77,22,97,0)
        Fondo claro:
                #dfe9ce
                rgb(223, 233, 206)
                cmyk(19,4,26,0)
        Gris oscuro:
                #181818
                rgb(24, 24, 24)
                cmyk(84,83,73,71)
        Negro:
                #000
                rgb(0, 0, 0)
*/

body {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #ddd;
    font-family: helvetica;
    color: #181818;
}
*::-moz-selection {
    background: #a1a1a1;
    color: #000;
}
*::selection {
    background: #a1a1a1;
    color: #000;
}
a {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

/*MENU*/

.nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #181818;
    position: fixed;
    top: 0px;
    width: 300px;
    height: 100%;
    color: #e1ffff;
}
.nav-side-menu .brand {
    height: 70px;
    background-color: #e0c71b;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
}
.nav-side-menu .toggle-btn {
    display: none;
}
.nav-side-menu ul, .nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    /*
    .collapsed{
        .arrow:before{
             font-family: FontAwesome;
             content: "\f053";
             display: inline-block;
             padding-left:10px;
             padding-right: 10px;
             vertical-align: middle;
             float:right;
        }
    }
    */
}
.nav-side-menu ul:not(collapsed) .arrow:before, .nav-side-menu li:not(collapsed) .arrow:before {
    font-family: icomoon;
    content: "\ea43";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}
.nav-side-menu ul .active, .nav-side-menu li .active {
    border-left: 3px solid #e0c71b;
    background-color: #eee;
}
.nav-side-menu ul .sub-menu li.active, .nav-side-menu li .sub-menu li.active {
    color: #e0c71b;
}
.nav-side-menu ul .sub-menu li.active a, .nav-side-menu li .sub-menu li.active a {
    color: #e0c71b;
}
.nav-side-menu ul .sub-menu li, .nav-side-menu li .sub-menu li {
    background-color: #1f1f1f;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover, .nav-side-menu li .sub-menu li:hover {
    background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before, .nav-side-menu li .sub-menu li:before {
    font-family: icomoon;
    content: "\ea3c";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    font-size: 8px;
}
.nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
}

/* PERFIL */
.perfilContent {
    background: #000;
    text-align: center;
    padding: 10px;
}
.perfilContent span{
    position: absolute;
    top: 35px;
    font-size: 18px;
    padding: 5px;
    border: solid 2px #FFF;
    border-radius: 50px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}
.perfilContent span:hover{
    background: #FFF;
    color: #181818;
}
.imgPerfil {
    margin: 0 auto;
}
.configBtn {

}
.configBtn span{
    z-index: 100px;
    left: 40px;
}
.settingsBtn {

}
.settingsBtn span{
    z-index: 100px;
    right: 40px;
}
.usuario {
    font-family: monospace;
}
i.icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    margin-top: -5px;
    margin-right: 20px;
}
i.iconHeader {
    font-size: 24px;
}
i.menu {
    font-size: 22px;
}
.nav-side-menu li a {
    text-decoration: none;
    color: #e1ffff;
}
.nav-side-menu li a.activee {
    color: #181818;
}
.nav-side-menu li a.activee:hover {
    color: #e1ffff;
}
.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 10px;
}
.nav-side-menu li:hover {
    border-left: 3px solid #e0c71b;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

/*headerBar*/
.headerBar {
    font-size: 16px;
    height: 70px;
    position: absolute;
    padding: 10px 21px 10px 320px;
    top: 0;
    width: 100%;
    color: #808080;
    background-color: #FFF;
}
.logout {
    margin-top: -15px;
    font-size: 28px;
    float: right;
    color: #9e9e9e;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.logout i {
    padding: 0; margin: 0;
}
.logout:hover {
    color: #e03d3d;
    text-decoration: none;
}


/* Right Bar */
.rightBar {
    position: absolute;
    text-align: left;
    right: 10px;
    top: 60px;
    padding: 10px;
}
.tittle {
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    background: #eee;
    color: #a1a1a1;
    margin-top: 10px;
}
.date {
    text-align: center;
    padding: 10px 15px;
    background: #fff;
    margin: 0 auto;
}
.date h1{
    padding: 0; margin: 0;
}
.lastConnect {
    text-align: center;
    padding: 10px 15px;
    background: #fff;
    margin: 0 auto;
}

/* SPACE - CONTENT */
.space {
    margin: 80px 150px 10px 310px;
}
.space div.white {
    background: #FFF;
}
.tittleContent {
    font-family: monospace;
    font-weight: 100;
    color: #868686;
    margin-bottom: 10px;
}
.tittleContent h1 {
    margin: 0; padding: 0;
}
.tittleContent h1 span {
    vertical-align: middle;
    margin-right: 10px;
    padding-bottom: 10px;
}


/*FOOTER*/
.footer {
    width: 100%;
    height: 40px;
    color: #b1b1b1;
    position: fixed;
    bottom: 0;
    background-color: #FFF;
    text-align: center;
    padding: 10px;
}
@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        background-color: #ffffff;
        color: #000;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}
@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}
