/* COLORES
<?php host();?>
http://localhost/bp
Amarillo: (Enlaces y botones)
    #e0c71b
    rgb(224, 199, 27)
    cmyk(77,22,97,0)
Fondo claro:
    #dfe9ce
    rgb(223, 233, 206)
    cmyk(19,4,26,0)
Gris oscuro:
    #181818
    rgb(24, 24, 24)
    cmyk(84,83,73,71)
Negro:
    #000
    rgb(0, 0, 0)
*/
html {
    min-height: 100%;
    position: relative;
}
html, body {
  padding: 0; margin: 0; border: 0;
  background-color: #FFF;
  font-family: helvetica;
  color: #181818;
  font-family: Segoe UI;
}
body {
  /* Margin bottom by footer height */

}
h1, h2, h3, h4 {
    text-transform: uppercase;
}
h4 {
    font-weight: bold;
}
option {
    text-transform: capitalize;
}
a, .btn, span {
    transition: 0.3s;
}
a:hover {
    text-decoration: none;
}
.container {
  padding: 0 15px;
}
.atmsBox {

}
.atms {
    margin-top: 20px;
    padding: 5px 10px;
    height: 120px;
    background: #FFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.etiqueta {
    background-color: #41adbb;
    color: #fff;
    border-radius: 4px;
    padding: 2px 5px;
}

*::-moz-selection{
   background: #a1a1a1;
   color: #000;
}
*::selection {
   background: #a1a1a1;
   color: #000;
}
.cabecera {
    border-top: 5px solid #e0c71b;
    background: #FFF;
}
.cabeceraIzquierda {

}
.logoCabecera {
    color: #494949;
}
.logoCabecera:hover {
    text-decoration: none;
    color: #000;
}
.logo {
    margin-right: 10px;
    width: 100px;
    float: left;
}
.logoCabecera p {
    margin-top: 28px;
    text-decoration: none;
    font-size: 24px;
}
.contact {

}
.iconCabecera{
    text-decoration: none;
    color: #3b3b3b;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #969696;
}
.iconCabecera:hover{
    text-decoration: none;
    color: #000;
}
.datos {
    float: right;
    position: absolute;
    top: 10px;
    right: 100px;
}
.ingreso {
    text-align: center;
    float: right;
    width: 250px;
    margin-top: 50px;
    color: #444;
}
.navbar {
    margin-bottom: -20px;
}
div#banner{
	width:100%;
	background-color: #FFF;
}
img#img_banner{
	width:100%;
	max-width:100%;
}
.navbar-nav {
    border-bottom: 4px solid #e0c71b;
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.icon {
    font-size: 18px;
}
.home {
    font-size: 18px;
}
.dropdown-menu {
    margin: 0;
    padding: 0;
    color: rgb(185, 184, 180);
}
.dropdown-menu > li > a {
    padding: 0px 20px;
    color: #9d9d9d;
    text-decoration: none;
    background-color: #000;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    color: #000;
    text-decoration: none;
    background-color: #e0c71b;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #9d9d9d;
    border-radius: 10px 10px 0 0;
}
.navbar-nav ul li ul li {
    color: #FFF;
    background-color: #000;
}
.buscar {
    color: #FFF;
}
.searchForm {
    float: right;
    width: 250px;
    margin: 8px;
}
.search {
    text-align: center;
    margin-left: -10px;
}
.section1 legend {
    color: #fff;
}
.section2 legend {
    color: #fff;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
.navbar-inverse .navbar-nav > li > a {
  color: #FFF;
  border-radius: 10px 10px 0 0;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #000;
    background-color: #e0c71b;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #000;
  background-color: #e0c71b;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #000;
  background-color: #e0c71b;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #000;
  background-color: #e0c71b;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e0c71b;
  border-color: #adadad;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #333;
  background-color: #e0c71b;
  border-color: #8c8c8c;
}
.active {
    color: #000;
    background-color: #e0c71b;
    border-radius: 10px 10px 0 0;
}

/*CONTENIDO*/
.contenido {
    color: #3c3c3c;
    background-color: #fff;
    padding-bottom: 100px;
}
.imgCreditCard {
    text-align: center;
}
.creditCard {
    width: 300px;
}
.imgCreditCardTable {
    width: 200px;
}
.menuVertical {
	display:none;
	color:#181818;
	position: fixed;
	top:0px;
	left:20px;
    z-index: 5000;
    width: 250px;
}
.menuVertical ul {
    font-weight: 600;
    list-style: none;
}
.menuVertical ul li{
    list-style: square;;
}
.menuVertical ul li ul li{
    list-style: none;
}
.menuVertical ul li ul{
    padding: 0 0 0 20px;
}
.infoContenido {

}
.infoContenido h2 {
    padding: 10px;
    color: #fff;
    background-color: #606060;
}
#electronicChecking {
    height: 60px;
}
#electronicChecking > p {
    height: 100px;
}

.infoContenido h4 {
    color: #636363;
}
.up {
    border-radius: 10px;
    font-weight: bold;
    float: right;
    padding: 10px;
    background:#1b76e0;
	font-size:14px;
	color:#FFF;
}
.up:hover {
    color: #fff;
    background:#3f8ce6;
    text-decoration: none;
}
.bgsystem {
    height: 100%;
    background: url(<?php host();?>/rs/img/bgsystem.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.contentAtms {
    height: 100%;
    margin-bottom: 50px;
}
.searchAtms {
    text-align: center;
    margin-top: 50px;
    padding: 0px 0px 20px 0px;
    min-height: 120px;
    background: #FFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.content {
    border-bottom: 1px solid #d6d6d6;
}
.articulos {
    background: #eeeeee;
    padding-bottom: 100px;
    border-bottom: 1px solid #d6d6d6;
}
.articulos img {
    width: 150px;
    height: 150px;
}
.articuloCol12 {
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
}
.articuloCol6 {

}
.articuloCol6 p {
    font-size: 12px;
    color: #606060;
}
.content2 {
    background: #181818;
}
.pieArticulos {
    margin-top: -50px;
    background: #FFF;
    margin-bottom: 50px;
    color: #808080;
    cursor: pointer;
}
.pieArticuloCol4 {
    border: 1px solid #d6d6d6;
    padding-bottom: 10px;
    font-size: 12px;
    transition: 0.5s;
}
.pieArticuloCol4:hover {
    color: #303030;
}
.table th.columnaRate {
    font-size: 16px;
    width: 200px;
}
.tableCreditCard td:nth-child(2),td:nth-child(3),td:nth-child(4),td:nth-child(5) {
    text-align: center;
    font-size: 16px;
}
.colTittle {
    color: #fff;
    background-color: #606060;
}
.colTittle h4 {
    color: #fff;
}
.sectionsTitle {
    text-align: center;
    padding: 20px 100px;
    background-color: #181818;
    color: #FFF;
}
.sections {
    font-size: 12px;
    background-color: #181818;
    color: #FFF;
}
.section1 {
    padding: 0 20px 20px 20px;
    border-radius: 10px;
    border: solid 0px #c7c9c5;
}
.section2 {
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.altoCuadrosPersonal {
    height: 200px;
}
.altoCuadrosSavings {
    height: 550px;
}
.imgSections img {

}
.imgSections {
    text-align: center;
}
.imgSections2 img {
    border-radius: 0 0 20px 20px;
}
.imgSections2 {
    text-align: center;
}
.imgPersonalLoand {
    background:
}
.sectLoand1 {
    color: #FFF;
    background: #181818;
    padding: 30px;
}
.sectLoand2 {
    padding: 30px;
}
.gris {
    background: #eee;
    color: #000;
}
.amarillo {
    background: #e0c71b;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.textSobre {
    font-size: 52px;
    position: absolute;
    top: 50px;
    left: 50px;
}
.ir-arriba {
    border-radius: 50px;
	display:none;
	padding:20px;
	background:#1b76e0;
	font-size:28px;
	color:#FFF;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
    z-index: 5000;
}
.ir-arriba:hover {
    background:#3989e7;
}
.mapSite {
    padding-bottom: 30px;
}
.mapSite a {
    text-decoration: none;
    transition: 0.1s;
}
.mapSite a:hover {
    color: #FFF;
}
.mapSite h5 a {
    color: #e0c71b;
}
.mapSite ul {
    list-style: none;
    margin-left: 20px;
}
footer {
    background: #353132;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: #FFF;
}
.footer {
    background-color: #000;
    font-size: 12px;
}
.footer a:hover {
    color: #e0c71b;
}
.footer p {
    margin: 0;
}
.activefooter {
    color: #e0c71b;
}

/* SLIDER */
.main {
	width:100%;
	max-width:100%;
	margin:20px 0px -10px 0px;
}
.slides {
	width:100%;
}
.slides img {
	width:100%;
}
.slidesjs-pagination {
	background:#424242;
	list-style:none;
	overflow:hidden;
    margin-top: -1px;
}
.slidesjs-pagination li {
	float:left;
}
.slidesjs-pagination li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	text-decoration:none;
}
.slidesjs-pagination li a:hover {
	background:#000;
}
.slides .active {
	background:#000;
}
.slidesjs-navigation{
	background:#000;
	color:#fff;
	text-decoration:none;
	display:inline-block;
	padding:13.5px 20px;
	float:right;
}


@media screen and (max-width: 767px) {
    #E-Banking {
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .navbar .navbar-nav {
      display: block;
      float: none;
      vertical-align: top;
      padding: 0 20px;
    }
    .navbar .navbar-collapse {
      text-align: left;
    }
    .navbar-inverse .navbar-nav > li > a {
      border-radius: 0px 0px 0 0;
    }
    .navbar-inverse .navbar-nav > li > a:hover {
        border-radius: 0px 0px 0 0;
    }
    .active {
        border-radius: 0px 0px 0 0;
    }
    .caret {
        background: #000;
    }
    .menuVertical {
        position: relative;
        width: 250px;
    }
    .ingreso {
        margin-top: -25px;
    }
    .logo{
        margin-top: 5px;
    }
    .datos{
        right: 20px;
    }
    .footerLeft {
        text-align: center;
    }
    .footerRigth {
        text-align: center;
    }
    .container {
        padding: 0;
    }
    .datos a {
        font-size: 12px;
    }
    .ingreso {
        margin-top: -55px;
    }
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        padding: 5px 5px;
    }
    .pieArticulos {
        margin-top: 0;
    }
}
/* Entre que 320px y 460px */

@media screen and (min-width: 320px) and (max-width: 460px) {
    footer {
        height: 100px;
    }
}


/* Entre 768px y 991px */

@media screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        padding: 0;
    }
    .searchForm {
        width: 200px;
    }
    .menuVertical {
        position: relative;
    }
}


/* Entre 768px y 1024px - PANORAMICA (Horizontal) */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {

}


/* Mayor a 992px */

@media screen and (min-width: 992px) {

}
